@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0}
ul,li{list-style:none}
a{text-decoration:none}
body{font:12px 微软雅黑;}
img{border:0}
.Con{width:958px; margin:0 auto}
#top{height:36px;background:#f4f4f4;}
.topCon{width:958px;height:36px;color:#7a7a7a;font-size:12px;position:relative}
.topCon .pL{width:304px;height:24px;float:left;padding-top:12px;}

.topCon .pL li{float:left;border-right:1px solid #f4f4f4}
.topCon .pL li a{float:left;color:#7a7a7a;font-size:12px;padding:0 15px;border-right:1px solid #ccc}
.topCon .pL li a:hover{color:#8e0c3a}
.topCon .pL .borno{border:0}
.topCon .pC{width:140px;height:36px;float:left;color:#7a7a7a;margin-left:302px;line-height:36px;font-size:12px;}
.topCon .pR{width:190px;height:36px;line-height:36px;float:right;color:#7a7a7a;font-size:12px;}
.topCon .pR li{float:left;width:80px;border:0}
.topCon .pR .shop{width:85px;background:url(../images/sytop.jpg) no-repeat left center;padding-left:25px}
.topCon .pRhide{height:55px;width:140px;display:none;border:1px solid #ccc;
position:absolute;top:100%;right:155px;text-align:center;padding-top:5px;}
.topCon .pRhide img{display:block;float:left;margin-left:24px}
.topCon .pRhide .pRhidetop{height:23px;}
.topCon .pRhide span{margin-left:5px}
#logo{height:99px;}
#logo .logoL{width:85px;height:84px;float:left;padding:15px 0 0 15px}
#logo  .logop2{width:90px;height:42px;float:left;padding-top:42px;color:#b95f81;font-size:14px;}
#logo  .logop2 span{color:#e1e1e1;font-size:12px;}
#logo h1{width:280px;height:70px;float:left;margin-left:163px;padding-top:29px;}
#logo form{ width:156px;height:26px;float:right;border:1px solid #afafaf;margin-top:40px;}
#logo form .txt{width:132px;height:24px;float:left;border:0;border-right:1px solid #CCC;color:#999;font-size:12px;line-height:24px}
#logo form .btn{width:23px;height:25px;float:left;border:0;background:url(../images/formbtn.jpg) no-repeat center}
img{display:block}

#nav{height:34px;border-bottom:1px solid #333;position:relative;}
#nav .ul-1{width:958px;height:34px;}
#nav li{ float:left;}
#nav li .acon{float:left;width:106px;height:34px;color:#222;line-height:34px;text-align:center;font-size:12px}
#nav .libig a{width:110px} 
/*#nav li a:hover{background:#a00;color:#fff}*/
#nav .navshow{position:absolute;width:943px;padding:15px 0 0 15px;height:350px;border:1px solid #ccc;border-top:0;background:#fff;z-index:1;display:none;top:35px;left:0}
#nav .navshow dl{float:left;width:148px;height:435px;position:relative}
#nav .con{height:435px;width:190px;display:block}
.navshow img{margin-top:100px;position:absolute;top:70px}
#nav .con2{position:absolute;top:270px;z-index:2}
#nav .navshow dl a{font-size:12px; color:#666}
#nav .navshow dt a{color:#800;font-weight:600}
#nav .navshow dt,dd{line-height:25px}
